<!DOCTYPE html>

<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    
<div>CHATBOT<br><br>Hi!<br>how can I help you today?<br></div>
   
<div id="textArea"></div>   

<input id="input" type="text" placeholder="Write something..." autocomplete="off"  autofocus="true"/></div>

   …

<script>

    const textArea = document.getElementById("textArea")
    const inputField = document.getElementById("input")
    
    inputField.addEventListener("keydown", function(e) {
        if (e.code === "Enter") {
            let input = inputField.value;
            inputField.value = "";
            display(input)
            output(input);
    }})

    function output(input) {
      $.get("/get", { msg: input }).done(function (data) {
        console.log(input);
        console.log(data);
        const text = data;
        display(text);
    })
        
    }

    function display(text) {
      const message =`
    <div>
        <p>${text}</p>
    </div>`;
      textArea.insertAdjacentHTML("beforeend", message);
      textArea.scrollIntoView(false);
    }

</script>

</body>
</html>
